@import url('https://fonts.googleapis.com/css2?family=Anton&family=Ruslan+Display&display=swap');

.post {
    margin: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
   
    padding: 4px;
}
.post h2 {
    background:lightskyblue;
    color:darkslategray;
}
.message {
    background: lightyellow;
    margin: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
   
    padding: 4px;
}
.navbar {
    background: #edc7b7;
    color: #123c69;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Anton', sans-serif;
    
    padding: 8px;
}
.navbar h1 {
    font-size: 48px;
}

.navbutton {
    background: #edc7b7;
    color: #123c69;
    border:none;
    font-size: 24px;
}

.navbutton:hover {
    border-top: 2px solid;
    border-bottom: 2px solid;
    color: #ac3b61;
}

#searchBarInput{
    width: 90%;
    margin-top: 15px;
}

#searchButton{
    width: 9%;
}

#clearSearchButton{
    width:fit-content
}

.searchButtonContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}