@import url('https://fonts.googleapis.com/css2?family=Anton&family=Ruslan+Display&display=swap');
.hidden {
    display: none;
}
.post {
    margin: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
   
    padding: 4px;
}
.post h2 {
    background:lightskyblue;
    color:darkslategray;
}
.message {
    background: lightyellow;
    margin: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
   
    padding: 4px;
}
.navbar {
    background: black;
    color: white;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Anton', sans-serif;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    
    padding: 8px;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 70px red;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px darkred, 0 0 40px darkred, 0 0 50px darkred, 0 0 60px darkred, 0 0 70px darkred, 0 0 80px darkred;
    }
  }

.createPostButton{
    width:100%
}

.cancelPostButton{
    width: 100%
}

.postTitle{
    display: flex;
    justify-content: space-between;
    background: lightblue;
    font-weight: bold;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
}

.navbutton {
    background: none;
    color: white;
    border:none;
    font-size: 19px;
}

.navbutton:hover {
    border-top: 2px solid;
    border-bottom: 2px solid;
    color: red;
}

.navBarLeft {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.navBarRight {
    width:fit-content;
    background: orange;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}


#clearSearchButton{
    width:fit-content
}

.searchButtonContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.editPostInputContainer {
    display:flex;
    flex-direction: column;
}

.editPostInputContainer input {
    margin-top: 5px;
}